.element__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete-item-button.svg);
    background-size: 18px 19px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-color: unset;
    transition: .3s;
}

.element__delete:hover {
    opacity: .6;
    cursor: pointer;
}