.info__name {
  margin: 22px 0 8px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 655px) {
  .info__name {
    margin: 0px 0 7px 0;
    font-size: 27px;
    line-height: 33px;
  }
}