.logo {
    background-image: url(../../images/header-logo.svg);
    width: 142px;
    height: 33px;
    background-size: 142px 33px;
    margin: 0 0 41px 0;
}

@media screen and (max-width: 882px) {
    .logo {
        width: 104px;
        height: 25px;
        background-size: 104px 25px;
        margin: 0 0 31px 27px;
    }
}