/** {
    border: 1px solid red;
}*/

@import url(../vendor/fonts.css);

.page {
    min-width: 320px;
    max-width: 1280px;
    margin: auto;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    max-width: 880px;
    margin: auto;
    padding: 45px 0 0 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 882px) {
    .header {
        padding: 28px 0 0 0;
    }
}

.logo {
    background-image: url(../images/header-logo.svg);
    width: 142px;
    height: 33px;
    background-size: 142px 33px;
    margin: 0 0 41px 0;
}

@media screen and (max-width: 882px) {
    .logo {
        width: 104px;
        height: 25px;
        background-size: 104px 25px;
        margin: 0 0 31px 27px;
    }
}

.profile {
    max-width: 880px;
    margin: auto;
    padding: 40px 0 51px 0;
    display: flex;
    position: relative;
}

@media screen and (max-width: 625px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
}

.profile__avatar {
    background-image: url(../images/profile-avatar.jpg);
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    border-radius: 50%;
}

.profile__info {
    display: flex;
    margin: 0 0 0 30px;
}

@media screen and (max-width: 625px) {
    .profile__info {
        margin: 22px 0 36px 0;
    }
}

.info {
    margin-right: 18px;
}

@media screen and (max-width: 625px) {
    .info {
        margin-right: 10px;
        text-align: center;
    }
}

.info__name {
    margin: 0 0 16px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

@media screen and (max-width: 625px) {
    .info__name {
        margin: 0 0 14px 0;
        font-size: 27px;
        line-height: 33px;
    }
}

.info__description {
    margin: 0 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 625px) {
    .info__description {
        font-size: 14px;
        line-height: 17px;
    }
}

.info__edit {
    margin-top: 15px;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    background-image: url(../images/info__edit.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 625px) {
    .info__edit {
        margin-top: 8px;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}

.profile__add-button {
    position: absolute;
    top: 33%;
    right: 0;
    width: 150px;
    height: 52px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: #000000;
    background-image: url(../images/profile-add.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 625px) {
    .profile__add-button {
        position: static;
        width: 282px;
        height: 50px;
        background-size: 16px 16px;
    }
}

.elements {
    max-width: 880px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    justify-items: center;
}

.element {
    max-width: 282px;
    background: #FFFFFF;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    font-size: 0;
}

.element__image {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.element__description{
    display: flex;
    padding: 25px 15px 31px 21px;
    justify-content: space-between;
    align-items: center;
}

.element__title {
    margin: 0 0 0 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../images/element__like.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}